Olá, <?php echo $this->usuario;?>! 
<a href="<?=$this->url('application',array(
	'action'=>'logout'
))?>">Sair</a>
<hr>

<a href="<?=$this->url('baseball',array(
	'controller'=>'categoria'
))?>">Categorias</a>
<br>
<a href="<?=$this->url('baseball',array(
	'controller'=>'jogador'
))?>">Jogadores</a>

<hr>

<strong>
<a href="<?=$this->url('application',array(
	'action'=>'logout'
))?>">Sair</a>
</strong>