<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Baseball Aplication</title>
</head>
<body>

<?php
$children = $this->viewmodel()->getCurrent()->getChildren();
$title = $children[0]->title;
?>

<h1>Ornitorrinco</h1>
<?php echo $this->content;?>

</body>
</html>