<a href="<?=$this->url('baseball',array(
	'controller'=>'categoria',
    'action'=>'edit'
))?>">Incluir categoria</a>
<table>
<?=$this->partialloop('categoria.phtml',$this->resultSet);?>
</table>
<a href="<?=$this->url('baseball')?>">Voltar</a>