<a href="<?=$this->url('baseball',array(
	'controller'=>'jogador',
    'action'=>'edit'
))?>">Incluir jogador</a>
<table>
<?=$this->partialloop('jogador.phtml',$this->resultSet);?>
</table>
<a href="<?=$this->url('baseball')?>">Voltar</a>