<tr>
<td><a href="<?=$this->url('baseball',array(
    'controller'=>'categoria',
    'action' => 'edit',
    'key' => $this->codigo
    )
)?>"><?=$this->codigo?></a></td>
<td><?=$this->descricao?></td>
<td><a href="<?=$this->url('baseball',array(
    'controller'=>'categoria',
    'action' => 'delete',
    'key' => $this->codigo
    )
)?>">Excluir</a></td>

</tr>
