<tr>
<td><a href="<?=$this->url('baseball',array(
    'controller'=>'jogador',
    'action' => 'edit',
    'key' => $this->inscricao
    )
)?>"><?=$this->inscricao?></a></td>
<td><?=$this->nome?></td>
<td><?=$this->categoria->descricao?></td>
<td><a href="<?=$this->url('baseball',array(
    'controller'=>'jogador',
    'action' => 'delete',
    'key' => $this->inscricao
    )
)?>">Excluir</a></td>

</tr>
